.nav {
    height: 170px;
    background-color: rgb(183, 213, 255);
    border-bottom: 2px solid black;
    
}

.header {
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    color: rgb(250, 239, 83);
    padding: 50px 0 0 50px;
    z-index: 2;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(19, 36, 66);
}

.clouds {
    margin: 20px 0 0 -40px;
    height: 120px;
    width: 120px;
    z-index: 1;
}

.content {
    background-color: black;
    height: 100%;
    border-bottom: 4px solid black;
}

.left-column {
    background-image: url("../images/pexels-brayden-law-2096700.jpg"); 
    text-align: center;
    height: 700px;
    border-radius: 8px;
    border-right: 2px solid black;
    border-top: 2px solid black;
}
.search-header {
    padding-top: 50px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
}

.search-field {
    border-radius: 5px;
    
}

.search-btn {
    border-radius: 5px; 
    background-color: rgb(183, 213, 255);
}

.results-column {
    background-color: rgb(255, 242, 223);
    border-left: 2px solid black; 
    border-right: 2px solid black;
    border-radius: 8px;
    border-top: 2px solid black;
    text-align: center;
}

.results-head {
    flex-wrap: wrap; 
    text-align: center;
    padding-top: 25px; 
    font-family: 'Lato', sans-serif;
}

.results-box {
    background-color: black;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 980px;
    height: 580px;
    border-radius: 8px;
    opacity: 10%;
}

.right-column {
    background-color: rgb(183, 213, 255);
    border-left: 2px solid black; 
    border-top: 2px solid black;
    border-radius: 8px;
}